<p>I'm available for freelance web and mobile projects, rails applications both front end & back end.</p>


<h2>My Development Stack</h2>
<i>Front End</i>
<ul>
  <li>HTML5</li>
  <li>CSS3</li>
  <li>JavaScript</li>
</ul>
<i>Back End</i>
<ul>
  <li>Rails Framework</li>
  <li>Ruby</li>
  <li>MySQL</li>
</ul>
<i>Deployment</i>
<ul>
  <li>Unicorn</li>
  <li>Git (Version Control)</li>
  <li>VPS (Linode, Rackspace.)</li>
  <li>Heroku</li>
</ul>


<p>For more information, don't hesitate to contact me <a href="mailto:edgar@sabesq.com"> edgar@sabesq.com</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/cs102">GitHub Repository</a>
  </li>
</ul>
